@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primaryTextColor: #232e35;
  --secondaryTextColor: #656d72;
  --borderColor: #f1f1f1;
  -linecolor: #d9d9d9;
  -primarybackgroundcolor: #fff;
  --secondaryBackgroundColor: #fbfbfb;
  -thirdbackgroundcolor: #f5f3fe;
  --primaryIconColor: #7e74f1;
  -primaryiconcolorhover: #5d51e8;
  --sectionPadding: 6rem 0;
  --itemBorderRadius: 0.7rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
  color: #fffbe6;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--primaryTextColor);
}

p {
  font-size: 1rem;
  line-height: 1.9rem;
}

p,
span,
label,
textarea,
li {
  color: var(--secondaryTextColor);
}

a {
  text-decoration: none;
}

.main-container {
  margin: 0 auto;
  width: 1200px;
}

@media screen and (min-width: 1200px) {
  .main-container {
    width: 90%;
  }
}

/* buttons */
.btn {
  padding: 1rem 1.5rem;
  background: #fff;
  border: 1.5px solid var(--borderColor);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

/* title */
.section-title {
  margin: 1rem 0 4rem;
  font-size: 2rem;
}

.pre-title {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: var(--secondaryTextColor);
  position: relative;
  width: fit-content;
  padding-left: 40px;
  font-weight: 400;
  font-size: 0.9rem;
}

.pre-title:before {
  content: "";
  width: 30px;
  height: 1px;
  background: var(--linecolor);
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
}

/* layout */
.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
}

/* logo and nav menu */

.nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 2rem;
}

.logo a {
  color: var(--primaryTextColor);
}

nav ul li {
  display: flex;
  align-items: center;
}

nav ul li a {
  color: var(--primaryTextColor);
}

/* burger */
.burgerrr div {
  width: 25px;
  height: 2px;
  background-color: #000;
  margin: 7px;
  transition: all 0.3s;
  z-index: 99;
}

.burgerrr {
  display: none;
  z-index: 99;
  position: fixed;
  top: 33px;
  right: 35px;
}

/* hero section */

.hero {
  /* max-width: 90%; */
  /* height: 720px; */
  margin-top: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: justify;
  margin-left: 10%;
  /* border: 1px solid red; */
}

.hero-name {
  font-size: 3rem;
  width: 700;
  margin: 0.5rem 0 1rem;
}

.hero-name span {
  color: var(--primaryIconColor);
}

.hero-right img {
  width: 30%;
  /* margin-top: 10rem; */
  /* margin-bottom:; */
}

.hero-right {
  display: flex;
  justify-content: center;
}

/* service */

#service {
  background-color: var(--secondaryBackgroundColor);
  padding: var(--sectionPadding);
}

.services .pre-title {
  margin: 0 auto;
}

.services-title {
  text-align: center;
  margin-top: 50%;
}
